[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.show-animation.ng-enter {
	-webkit-animation:bounceIn .5s;
}

.fade-animation{
	display: block;
	position: relative;
}

.fade-animation.ng-enter{
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

.my-container {
	margin: 0 50px;
}
.content-container{
	margin-top: 30px;
}
.product-item-body{
	height: 150px;
}
.anime-list-up,.flickr-animation{
	display: block;
	position: relative;
	z-index:0;
}

.anime-list-up.ng-leave{
	-webkit-animation: hinge 2s;
	animation: hinge 2s;
	position: absolute;
	z-index: 1;
	width: 90%;
}

.flickr-animation.ng-leave{
	-webkit-animation:fadeOutLeft 1.5s;
	animation:fadeOutLeft 1.5s;
}

.anime-list-up.ng-enter{
	-webkit-animation: bounceIn 1s;
	animation: bounceIn 1s;
}
.flickr-animation.ng-enter{
	-webkit-animation: bounceIn 1.5s;
	animation: bounceIn 1.5s;
}
.anime-list-up.ng-enter-stagger,.anime-list-up.ng-leave-stagger,.flickr-animation.ng-enter-stagger{
	-webkit-animation-delay: .2s;
	animation-delay: .2s;
}

.animation{
	display: block;
    position: relative;
}

.animation.ng-leave-stagger{
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
}

.animation.ng-enter { 
	-webkit-animation: fadeInRight 1s;
	animation: fadeInRight 1s;
	z-index: 0;
}

.animation.ng-leave { 
	-webkit-animation: fadeOutLeft 2s;
	animation: fadeOutLeft 2s;
	z-index: 1;
	width: 90%;
	position: absolute;
}