<div class="row">
	<my-form add-product="addProduct()"></my-form>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-8">
				<h1>Daftar Produk</h1>
			</div>
			<div class="col-lg-4">
				<div class="pull-right">
					<input type="text" placeholder="Search..." ng-model="filterProduk">
				</div>
			</div>
		</div>
		</div>
		<product-display product-data="product" options="{panelWidth:4, isLink:true, animated:true}" class="anime-list-up" ng-repeat="product in products | filter:filterProduk">
			<a href="" ng-click="removeProduct($index)">x</a>
		</product-display>
</div>