<!DOCTYPE html>
<html lang="en" ng-app="DemoApp">
<head>
	<meta charset="UTF-8">
	<title ng-model="title">Demo dengan menggunakan controller</title>
</head>
<body>
	<div>isi dari outside adalah: {{ outside }}</div>
	<div ng-controller="MyCtrl">
		<input type="text" ng-model="myModel"><br/>
		<button ng-click="submit()">simpan</button>
	</div>

	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript">

		angular.module('DemoApp', [])
		.controller('MyCtrl',function($scope,$rootScope){
			$rootScope.outside = "hello world";
			$scope.myModel = "ini adalah isi awal";
			$scope.inside = "Ini adalah text yang dikirimkan dari MyCtrl";
			$scope.submit = function(){
				console.log($scope.myModel);
			}
		});
	</script>
</body>
</html>