<div class="row">
	<form name="flickrForm" ng-submit="search()" class="form-inline" novalidate>
		<fieldset>
		  <div ng-class="{'form-group': true,'has-success' : flickrForm.searchTerm.$valid}">
		    <div class="col-lg-5">
		      <input ng-model="searchTerm" ng-pattern="/^[a-zA-Z]{3}.*/" required type="text" name="searchTerm" placeholder="Search Photos..." class="form-control">
		    </div>
		  </div>
		  <button type="submit" ng-disabled="flickrForm.$invalid || !flickrForm.$dirty" class="btn btn-success">Search Photos</button>
		</fieldset>
	</form>
</div>
<div class="row" style="padding:30px;">
	<div class="col-lg-12 if-animation" ng-if="isFound">
	Found <span class="label label-danger">{{totalFound}}</span> photos about <span class="label label-success">{{ searchText }}</span>
	</div>
</div>

<div class="row" ng-if="photos.length > 0">
	<div my-thumbnail="photo" class="flickr-animation" ng-repeat="photo in photos">{{photo.title}}</div>
</div>